html
  head
    meta(charset="utf-8")
    title French Coast Stamina 3
    link(rel="stylesheet", href="static/css/style.css")
  body(class="bg")
    h1(class="centered") 15682 measures. Complete !
    h2(class="centered") Single experts' QA Complete !
    h2(class="centered") Cooking spicy announcements... Complete !
    h2(class="centered") Pack is available in the ECS7 qualifiers at groovestats.com/ECS7/
    div(id="bg")
