html
  head
    meta(charset="utf-8")
    title French Coast Stamina 3
    link(rel="stylesheet", href="static/css/style.css")
  body(class="bg")
    h1(class="centered") 10862 measures and counting.
    div(id="bg")
